.sideBar{
    display: block;
    background-color: white;
    height: 100vh;
    overflow-y: auto;
    padding: 0;

    /* z-index: 1; */
}

.outlet{
    height: 100vh;
}
ul{
    list-style-type: none;
    text-align: left;
}

.menuButton{
    display: none;
}

@media(max-width:575px) {
    .menuButton {
        display: block;
        width: max-content;
        position: absolute;
        top: 20px;
        left: 10px;
        z-index: 2;
    }

    .sideBar {
        min-width: max-content;
        /* position: absolute;
        top: 0px;
        left: 0px;
        height: max-content;
        z-index: 1; */
        /* width: 50vw; */
    }
}