body {
  margin: 0;
  height: 100vh;
  background-color: lightgray;
}
.allMenus{
  height: 90vh;
  overflow-y: auto;
}
ul{
  padding: 0;
}
.sideBarHeader{
  padding: 20px 10px;
  background-color: black;
  color: white;
}
.multipleHeader, .singleHeader{
  padding: 10px;
  background-color: white;
  width: 100%;
}
.multipleHeader{
  display: flex;
  justify-content: space-between;
}
.singleHeader:hover{
  background-color: gray;
  color: white;
}
.multipleList{
  display: flex;
  flex-direction: column;
}
.multipleHeader ul{
  padding-left: 20px;
}
.multipleList .singleHeader{
  padding-left: 20px;
}
.multipleHeader ~ div ul li .multipleHeader{
  padding-left: 20px;
}
span:hover{
  cursor: pointer;
}

ul a{
  padding: 0 !important;
  color: black;
}
.linkActive{
  background-color: lightcoral !important;
}